{% extends "base.html" %}

{% block content %}

<h1>Hello, {{ user.name }}</h1>

    {% if current_user.is_authenticated %}
    <h1>Logged in {{ current_user.name }}!</h1>
    {% endif %}

{% for list in lists %}
    <h2>{{ list.title }}</h2>
    {% if list.is_ordered %}
        <ol>
            {% for item in list.items %}
                <li>{{ item.text }}</li>
            {% endfor %}
        </ol>
    {% else %}
        <ul>
            {% for item in list.items %}
                <li>{{ item.text }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endfor %}

{% endblock %}